Dependencies :- 
1) use in-built microphone for voice to text , no external microphone should be connected
2) pip install transformers ver-4.39.0 
3) pip install keras ver- 2.12.0
4) pip install tensorflow ver-2.12.0
5) pip install numpy ver-1.23.5

